%html
    %head
        %script{:src => "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js", :type=>"text/javascript"}
        %script{:src => "zebra.js", :type=>"text/javascript"}
    %body
        %table
            %tr
                %td
                    Everyone wants to change the world, but nobody wants to clean up their room first.
                %td
                    Anon
            %tr
                %td
                    The man who doesn't read good books has no advantage over the man who can't.
                %td
                    Charlie Munger
            %tr
                %td
                    People will forget what you said People will forget what you did But people will never forget how you made them feel.
                %td
                    Maya Angelou
            %tr
                %td
                    Knowledge is power
                %td
                    Anon